<header>
    <div class="tsd-page-toolbar">
        <div class="container">
            <div class="table-wrap" style="display: flex;">
                <a href="https://api.dev.appointmaster.com/docs">
                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none" id="logo"
                    class="amlogo svg replaced-svg">
                    <path
                        d="M29.8999 11L25.9887 20.2354L22.0985 11H19V26.9968H20.9596V13.27L25.0679 22.761H26.9257L31.0404 13.27V27H33V11H29.8999Z"
                        fill="#6766CC"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9.16807 11L3 27H5.24535L7.01904 22.1322H13.7418L15.6019 27H18L11.4533 11H9.16807ZM13.119 20.4526L10.2957 13.0312L7.59865 20.4526H13.119Z"
                        fill="#822826"></path>
                </svg>
                </a>
                <div style="flex: 1;" class="table-cell" id="tsd-search" data-index="{{relativeURL " assets/js/search.json"}}"
                    data-base="{{relativeURL " ./"}}">
                    <div class="field">
                        <label style="filter: invert(1);" for="tsd-search-field" class="tsd-widget search no-caption">Search</label>
                        <input id="tsd-search-field" type="text" />
                    </div>

                    <ul class="results">
                        <li class="state loading">Preparing search index...</li>
                        <li class="state failure">The search index is not available</li>
                    </ul>


                    <a href="{{relativeURL "index.html"}}" class="title">{{project.name}}</a>
                </div>
                <div class="table-cell" id="tsd-widgets" style="filter: invert(1);">
                    <div id="tsd-filter">
                        <a href="#" class="tsd-widget options no-caption" data-toggle="options">Options</a>
                        <div class="tsd-filter-group">
                            <div class="tsd-select" id="tsd-filter-visibility">
                                <span class="tsd-select-label">All</span>
                                <ul class="tsd-select-list">
                                    <li data-value="public">Public</li>
                                    <li data-value="protected">Public/Protected</li>
                                    <li data-value="private" class="selected">All</li>
                                </ul>
                            </div>

                            <input type="checkbox" id="tsd-filter-inherited" checked />
                            <label class="tsd-widget" for="tsd-filter-inherited">Inherited</label>

                            {{#unless settings.excludeExternals}}
                            <input type="checkbox" id="tsd-filter-externals" checked />
                            <label class="tsd-widget" for="tsd-filter-externals">Externals</label>
                            {{/unless}}
                        </div>
                    </div>

                    <a href="#" class="tsd-widget menu no-caption" data-toggle="menu">Menu</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tsd-page-title">
        <div class="container">
            {{#if model.parent}} {{! Don't show breadcrumbs on main project page, it is the root page. !}}
            <ul class="tsd-breadcrumb">
                {{#with model}}{{> breadcrumb}}{{/with}}
            </ul>
            {{/if}}
            <h1>{{#compact}}
                {{#ifCond model.kindString "!==" "Project" }}
                {{model.kindString}}&nbsp;
                {{/ifCond}}
                {{model.name}}
                {{#if model.typeParameters}}
                &lt;
                {{#each model.typeParameters}}
                {{#if @index}},&nbsp;{{/if}}
                {{name}}
                {{/each}}
                &gt;
                {{/if}}
                {{/compact}}</h1>
        </div>
    </div>
</header>
